body{
	/*font-family: verdana, "MS Trebuchet", Arial, sans-serif;*/
	position: relative;
	margin: 0;
	padding: 0;
}

.product{
	padding: 1px;
	margin: 1px;
	border: 1px solid #FFFFFF;
	font-size: 11px;
}

.product:hover{
	padding: 1px;
	margin: 1px;
	background-color:#DFE8F6;
	border: 1px solid #046BCA;
	font-size: 11px;
}

.rolelist{
	width : 100px;
	padding: 1px;
	margin: 1px;
	border: 1px solid #FFFFFF;
	font-size: 11px;
}

.rolelist:hover{
	width : 100px;
	padding: 1px;
	margin: 1px;
	background-color:#DFE8F6;
	border: 1px solid #046BCA;
	font-size: 11px;
}

.userList{
	padding: 1px;
	margin: 1px;
	border: 1px solid #FFFFFF;
	font-size: 11px;
}

.userList:hover{
	padding: 1px;
	margin: 1px;
	background-color:#DFE8F6;
	border: 1px solid #046BCA;
	font-size: 11px;
}

.menuitem{
	padding: 1px;
	margin: 1px;
	background-color:#FFFFFF;
	border: 1px solid #FFFFFF;
	font-size: 11px;
}

.menuitem:hover{
	padding: 1px;
	margin: 1px;
	background-color:#DFE8F6;
	border: 1px solid #046BCA;
	font-size: 11px;
}

.content-icon-pdf{
    display: block;
    padding: 0 20px;
	background: url('../images/icons/page_white_acrobat.png') no-repeat left;
}

.content-icon-url{
    display: block;
    padding: 0 20px;
	background: url('../images/icons/html.png') no-repeat left;
}

.content-icon-jpeg{
    display: block;
    padding: 0 20px;
	background: url('../images/icons/images.png') no-repeat left;
}
.content-icon-audio{
    display: block;
    padding: 0 20px;
	background: url('../images/icons/music.png') no-repeat left;
}
.content-icon-video{
    display: block;
    padding: 0 20px;
	background: url('../images/icons/film.png') no-repeat left;
}

.content-icon-flash {
	display: block;
    padding: 0 20px;
	background: url('../images/icons/page_white_flash.png') no-repeat left;
}
.content-icon-forum {
	display: block;
    padding: 0 20px;
	background: url('../images/icons/group.png') no-repeat left;
}
.content-icon-quiz {
	display: block;
    padding: 0 20px;
	background: url('../images/quiz.png') no-repeat left;
}

.add-button{
	background: url('../images/icons/add.png') no-repeat left;
}
.submit-button{
	background: url('../images/icons/lock_open.png') no-repeat left;
}
.view-source-button{
    background: url('../images/icons/script.png') no-repeat left;
}
.delete-button{
	background: url('../images/icons/delete.png') no-repeat left;
}
.cancel-button{
	background: url('../images/icons/cancel.png') no-repeat left;
}
.edit-button{
	background: url('../images/icons/cog_edit.png') no-repeat left;
}
.edit-permission{
	background: url('../images/icons/cog_edit.png') no-repeat left;
}

.bookmark-button{
	background: url('../images/icons/star.png') no-repeat left;
}

.logout-button{
	background: url('../images/icons/lock.png') no-repeat left;
}
.save-Continue-button{
	background: url('../images/icons/page_save.png') no-repeat left;
}
.leave-quiz{
	background: url('../images/icons/cross.png') no-repeat left;
}
.register-button{
	background: url('../images/icons/user_add.png') no-repeat left;
}
.refresh-button{
	background: url('../images/icons/table_refresh.png') no-repeat left;	
}
.preview-button{
	background: url('../images/icons/zoom_in.png') no-repeat left;	
}
.full-screen-button{
	background: url('../images/icons/arrow_out.png') no-repeat left;
}
.newTab-button{
	background: url('../images/icons/tab.png') no-repeat left;
}
.advanced-search{
	background: url('../images/icons/find.png') no-repeat left;	
}
.workspace{
	background: url('../images/icons/application_side_tree.png') no-repeat left;	
}
.user-access{
	background: url('../images/icons/group_gear.png') no-repeat left;	
}
.user-add-category{
	background: url('../images/icons/add.png') no-repeat left;
}
.user-add-course{
	background: url('../images/icons/add.png') no-repeat left;
}
.list-view{
	background: url('../images/icons/application_side_list.png') no-repeat left;
}
.tree-view{
	background: url('../images/icons/application_side_tree.png') no-repeat left;
}
.back-button{
	background: url('../images/icons/control_start.png') no-repeat left;
}
.next-button{
	background: url('../images/icons/control_fastforward.png') no-repeat left;
}
.prev-button{
	background: url('../images/icons/control_rewind.png') no-repeat left;
}
.forum-button{
	background: url('../images/icons/group.png') no-repeat left;
}
.reply-button {
	background: url('../images/icons/reply.png') no-repeat left;
}

.forum-item {
	font-size: 12px;
	position: relative;
/*	border-bottom: 2px double #222;*/
	padding: 0 10px;
}

.forum-item:hover .forum-user{
	border-top: 1px solid graytext;
}

.forum-item .forum-title {
	font-size: 14px;
	font-weight: bold;
/*	border-bottom: 1px double #222;*/
}

.clear-fix {
	clear: both;
}

.forum-item .forum-date {
	position: absolute;
	top: 3px;
	right: 1px;
	font-weight: bold;
}

.forum-item .forum-desc {
	padding: 5px 10px;
	
}

.forum-item .forum-user {
	margin: 10px 0 0 0;
	border-top: 1px dashed silver;
	font-size: 11px;
}

/*
.add-button:hover{
	padding: 3px 3px 3px 13px;
	background: url(../images/drop-add.gif) bottom left no-repeat;
	background: url('../images/w.jpeg') no-repeat left;
	padding: 2px 2px 2px 25px;
	display: block;	
}
*/
 .thumb {
    padding: 0;
}

 .thumb-wrap {
    float: left;
    margin: 2px;
    margin-right: 0;
    padding: 2px;
}

 .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
	background: url('../images/icons/add.png') no-repeat left;
}

 .x-view-over {
/*    border:1px solid #dddddd;*/
    background-color: #efefef;
    padding: 1px;
}

 .x-item-selected {
/*    background: #DFEDFF;*/
    border: 1px solid #6593cf;
    padding: 1px;
}

/* .x-item-selected .thumb {
    background:transparent;
}*/

 .x-item-selected span {
    color:#1A4D8F;
}

.ux-notification-window .x-window-body {
	text-align: center;
	padding: 15px 5px 15px 5px;
	width: 200px;
}

.ux-notification-icon-information {
	background-image: url('../images/icons/information.png');
}

.ux-notification-icon-error {
	background-image: url('../images/icons/error.png');
}

.ux-notification-light .x-window-header {
	background-color: transparent;
}

body .ux-notification-light {
	background-image: url('../images/fader.png');
}

.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 18px 5px;
	width: 200px;
	background-color: transparent;
	border: 0px solid white;
}

.contDetailsOdd {
	padding : 5px;
	background: #f1f1f1;
}
.contDetailsEven {
	padding : 5px;
	background: #f9f9f9;
}

.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}

.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.x-welcome-note, .portlet-content {
    padding: 10px;
    font-size: 11px;
    line-height: 15px;
}

.x-welcome-note div, .portlet-content div{
    padding-bottom: 5px;
}

/* login page style */

#main .subcolumns {padding:0 0 0 10px;}
#main .subcolumns .loginForm {width:380px; overflow:hidden; margin:30px 0 30px 0;}
#main .subcolumns .loginForm p {clear:both; overflow:hidden; padding:5px 0 10px;}
#main .subcolumns .loginForm legend {font-size:24px; font-weight:normal; border:none; color:#514134; padding:0; margin:0 0 10px 0; overflow:hidden;}
#main .subcolumns .loginForm div.input {clear:both; padding:5px 0 10px; overflow:hidden; }
#main .subcolumns .loginForm div.input input {width:330px; float:left; background:#FFFFFF; border-top:1px solid #bcbcbc; border-left:1px solid #bcbcbc; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; padding:7px 10px; font-size:14px;}
#main .subcolumns .loginForm div.input #emailError {}
#main .subcolumns .loginForm div.input #passError {}
#main .subcolumns .loginForm div.input .loginLinks {float:left;}
#main .subcolumns .loginForm div.input .loginLinks a {display:block; color:#24bbcc; padding:0 0 3px 0;}
#main .subcolumns .loginForm div.input .loginLinks a:hover {}
#main .subcolumns .loginForm div.input div.submit {float:right; margin:0 30px 0 0;}
#main .subcolumns .loginForm div.input div.submit .submitBtn {width:auto; background:#514134; color:#FFFFFF; border:none; cursor:pointer; font-size:18px; padding:5px 10px;}
#main .subcolumns .loginForm label.error {float:left; display:block; background:url(../images/error.png) no-repeat left 4px; width:auto !important; padding:6px 0 3px 22px !important; color:#ff0000; height:18px; margin-left:5px !important;}

.databox {
	width : 100%;	
}
.databox ul{
	clear: right;
}
.databox ul li {	
	clear: both;
}
.databox ul li div{
	font:12px "Verdana", Geneva, Arial, Helvetica, sans-serif;
	padding: 4px;
	border-bottom: #F2F2F2 solid 1px;
	border-right: #F2F2F2 solid 1px;
	margin-top: 2px;
	margin-right: 1px;
	display : block;
	float:left;
	width: 79%;
	min-height: 30px;
}
.databox ul li div:first-child{
	font-weight: bold;
	width: 20%;	
}
.databox ul li div {
	font-weight: bold;
}

.errorHolder{
	height: 25px;
	background: lightgray;
	border: 1px solid gray;
	text-align: left;
	font-family: cursive;
	font-size: 15px;
	margin: -1px;
	padding: 6px 0 0 25px;
	background-image: url('../images/icons/exclamation.png');
	background-repeat:  no-repeat;
	background-position: 5px center;
}

.invisible {
		visibility: collapse;
}

visible{
	visibility: visible;
}